
 
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instruction_factory.name %>
</p>
<p>
  <strong>Class:</strong>
  <%= @instruction_factory.classname %>
</p>


</table>

<br />


<%= link_to 'Back', skwerkflows_path %>