<h1>New Skwerkflow</h1>
<%= form_for :skwerkflow, url: skwerkflows_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 

 
  <p>
    <%= f.submit %>
  </p>
<% end %>